<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="topcorner">
            <p><b>Project:</b><br>microGoogle</p>
            <p><b>Team:</b><br>Vince Bartle (vb344)<br>Qiyu Yang (qy35)<br>Youhan Yuan (yy435)<br>Dubem Ogwulumba (dao52) <br> Erik Ossner (eco9)
</p>
            
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <span style="color: #EA4335; ">S</span>
                <span style="color: #FBBC05; ">4</span>
                3
                <span style="color: #34A853; ">0</span>
                <span style="color: #EA4335; ">0</span>
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input type="file" name="upload" accept="application/pdf" onchange="sendPDF(this)"/>
                <p id="pdf_results"></p>
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>

    </body>
    <script type="text/javascript">
        function sendPDF(pdf){
            /*
            const request = new XMLHttpRequest();
            const pdf_file = pdf.files[0].name;
            request.open('POST', '/pdf');
            request.setRequestHeader('Content-Type', 'application/json');
            request.onload = () => {
                const response = request.responseText;
                document.getElementById("pdf_results").innerHTML = response;
            };
            request.send(JSON.stringify({
                        file: pdf_file
            }));
        */

        var form_data = new FormData();
        form_data.append('file', pdf.files[0]);
        $.ajax({
            type: 'POST',
            url: '/pdf',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                document.getElementById("pdf_results").innerHTML = data;
            },
        });

        }
    </script>
</html>
